/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Bold.eot');
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('../fontManrope-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Bold.woff2') format('woff2'),
        url('../font/Manrope-Bold.woff') format('woff'),
        url('../font/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Semibold.eot');
    src: local('Manrope Semibold'), local('Manrope-Semibold'),
        url('../font/Manrope-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Semibold.woff2') format('woff2'),
        url('../font/Manrope-Semibold.woff') format('woff'),
        url('../font/Manrope-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Regular.eot');
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../font/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Regular.woff2') format('woff2'),
        url('../font/Manrope-Regular.woff') format('woff'),
        url('../font/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Light.eot');
    src: local('Manrope Light'), local('Manrope-Light'),
        url('../font/Manrope-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Light.woff2') format('woff2'),
        url('../font/Manrope-Light.woff') format('woff'),
        url('../font/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Thin.eot');
    src: local('Manrope Thin'), local('Manrope-Thin'),
        url('../font/Manrope-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Thin.woff2') format('woff2'),
        url('../font/Manrope-Thin.woff') format('woff'),
        url('../font/Manrope-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-Medium.eot');
    src: local('Manrope Medium'), local('Manrope-Medium'),
        url('../font/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-Medium.woff2') format('woff2'),
        url('../font/Manrope-Medium.woff') format('woff'),
        url('../font/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('../font/Manrope-ExtraBold.eot');
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('../font/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Manrope-ExtraBold.woff2') format('woff2'),
        url('../font/Manrope-ExtraBold.woff') format('woff'),
        url('../font/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-ExtraBold.eot');
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
        url('../font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-ExtraBold.woff') format('woff'),
        url('../font/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('../font/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Heavy.woff') format('woff'),
        url('../font/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-LightItalic.woff') format('woff'),
        url('../font/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-ThinItalic.woff') format('woff'),
        url('../font/Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-BlackItalic.woff') format('woff'),
        url('../font/Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-BoldItalic.woff') format('woff'),
        url('../font/Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-SemiBold.eot');
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-SemiBold.woff') format('woff'),
        url('../font/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('../font/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-UltraLightItalic.woff') format('woff'),
        url('../font/Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-SemiBoldItalic.eot');
    src: local('Gilroy SemiBold Italic'), local('Gilroy-SemiBoldItalic'),
        url('../font/Gilroy-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-SemiBoldItalic.woff') format('woff'),
        url('../font/Gilroy-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Light.woff') format('woff'),
        url('../font/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('../font/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-MediumItalic.woff') format('woff'),
        url('../font/Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-ExtraBoldItalic.eot');
    src: local('Gilroy ExtraBold Italic'), local('Gilroy-ExtraBoldItalic'),
        url('../font/Gilroy-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-ExtraBoldItalic.woff') format('woff'),
        url('../font/Gilroy-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Regular.woff') format('woff'),
        url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('../font/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-HeavyItalic.woff') format('woff'),
        url('../font/Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Medium.woff') format('woff'),
        url('../font/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('../font/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-RegularItalic.woff') format('woff'),
        url('../font/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('../font/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-UltraLight.woff') format('woff'),
        url('../font/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Bold.woff') format('woff'),
        url('../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('../font/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Thin.woff') format('woff'),
        url('../font/Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('../font/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Gilroy-Black.woff') format('woff'),
        url('../font/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
	color: #002262;
	margin: 0 auto;
}

.head{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	max-width: 1440px;
	width: 100%;
	height: 40px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 42.5px;
}

.head--fixed{
	height: 56px;
	background-color: #fcfcfc;
	position: fixed;
	top: -24px;
	left: 0;
	right: 0;
	z-index: 1000;
	-webkit-transform: translate3d(0,0,0);
	        transform: translate3d(0,0,0);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.container{
	margin: 0 auto;
	max-width: 1240px;
	width: 100%;
	
}


.head_logo{
	display: block;
	max-width: 110px;
	width: 100%;
	height: 40px;
	margin-right: 48px;
}

.menu-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 189.25px;
}

.menu-content.size1024px{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
				align-items: center;
		margin-right: 50px;
		position: absolute;
		right: 182px;
		top: -3px;
		width: 286px;
		z-index: 10;
		background-color: #F4F8FF;
		border-radius: 8px;
		opacity: 1;
	}

.menu-item{
	  font-family: 'Gilroy';
	 font-size: 16px;
	 font-weight: 600;
	 line-height: 24px;
	 text-decoration: none;
	 color: #002262;
	 margin-right: 32px;
}

.menu-item:hover{
	  border-bottom: 2px solid #002262;
}

.menu-item:last-of-type{
	margin-right: 0;
}

.menu-phone{
	 position: relative;
	 margin-right: 37px;
	 font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	 text-decoration: none;
	 color: #000;
}

.menu-phone:hover{
	  border-bottom: 2px solid #002262;
}


.menu-phone-item{
	display: block;
	width: 13.5px;
	height: 13.5px;
	position: absolute;
	top: 10px;
	right: 400px;
	background: url("../image/header/Icon%20phone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.phone-button{
	width: 182px;
	height: 38.1px;
	padding: 0;
	background: #8181F6;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 34, 98, 0.15);
	        box-shadow: 0px 4px 20px rgba(0, 34, 98, 0.15);
	border: 0;
	border-bottom: 2px solid #002262;
	border-radius: 4px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 16px;
	outline: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

.phone-button:hover{
	-webkit-box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);
	        box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);  
}

.nav-border{
	display: none;
	position: absolute;
	border: 2px solid rgba(129, 129, 246, 0.5);
	padding: 20px;
	width: 44px;
	height: 44px;
	top: 15px;
	right: 35px;
}

.nav-togle{
	width: 100%; 
	height: 100%;
	position: absolute;
	padding: 0 4px;
	z-index: 100;
	display: none;
	border: 0;
	background:none;
	top: 0;
	right: 0;
}


.nav-togle:focus{
	outline: none;
}



.nav-togle-item-top{
	top: 10px;
	display: block;
	width: 22px;
	height: 3px;
	background-color: rgba(129, 129, 246, 0.5);
	position: absolute;
	left: 25%;
	z-index: 1;
}

.nav-togle-item-center{
	top: 18px;
	display: block;
	width: 22px;
	height: 3px;
	background-color: rgba(129, 129, 246, 0.5);
	position: absolute;
	left: 25%;
	z-index: 1;
}

.nav-togle-item-bottom{
	top: 26px;
	display: block;
	width: 22px;
	height: 3px;
	background-color: rgba(129, 129, 246, 0.5);
	position: absolute;
	left: 25%;
	z-index: 1;
}


.nav-togle-item{
	display: block;
	width: 100%;
	height: 3px;
	background-color: rgba(129, 129, 246, 0.5);
	position: absolute;
	top: 9px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

/*intro*/

.intro{
	height: 100vh;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}

.intro-dots{
	position: absolute;
	left: -120px;
	top: 22.18px;
	z-index: 5;
}

.intro-dots1{
	position: absolute;
	left: 591px;
	top: 568px;
	z-index: -1;
}

.intro-dots2{
	position: absolute;
	left: 1042px;
	top: 91.51px;
	z-index: -1;
}

.intro-content{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
}

.intro-text{
	width: 50%;
	margin-right: 50px;
}

.intro-title{
	width: 432px;
	height: 208px;
	margin-top: 122px;
	margin-bottom: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 68px;
	color: #002262;
}

.intro-suptitle{
	width: 62%;
	margin-bottom: 59px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 32px;
	color: #002262;
	opacity: 0.8;
}

.intro-button{
	width: 345px;
	height: 50px;
	padding: 0;
	border-radius: 4px;
	background: #8181F6;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #002262;
	outline: none;
}

.intro-button:hover{
	-webkit-box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);
	        box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);  
}

.intro-image{
	position: relative;
}

.intro-image::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:456px;
	left: -92px;
	background: url("../image/intro/dots2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.intro-image::after{	
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:-4px;
	right: 98px;
	z-index: -1;
	background: url("../image/intro/dots3.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.intro-photo{
	position: relative;
	display: block;
	max-width: 662px;
	width: 100%;
	margin-bottom: 80px;
}


/*services*/

.Services{
	position: relative;
    background: #F4F8FF;
	padding-left: 20px;
	padding-right: 20px;
}

.servise-title{
	position: relative;
	padding-top: 80px;
	margin-bottom: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.servise-title::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:2px;
	right: 43px;
	z-index: 6;
	background: url("../image/servise/dots.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}



.servis-content{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 80px;
	position: relative;
	z-index: 5;
}

.servis-item{
	width: 359px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 24px 0 24px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 32px 15px 0 15px;
	position: relative;
	background: #FFFFFF;
	border-radius: 4px;
}

.servis-item:nth-of-type(2)::before{
	content: "";
    display: none;
    height: 178.539794921875px;
    max-width: 178px;
    width: 100%;
    position: absolute;
    top: -127px;
    right: -39px;
    z-index: 1;
    background: url(../image/servise/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.servis-item:nth-of-type(2)::before{
	content: "";
    display: none;
    height: 178.539794921875px;
    max-width: 178px;
    width: 100%;
    position: absolute;
    top: -127px;
    right: -39px;
    z-index: 1;
    background: url(../image/servise/dots.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.servis-item:nth-of-type(1)::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:-94px;
	right: 270px;
	z-index: -1;
	background: url("../image/servise/dots.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.servis-item:nth-of-type(1)::after{
	content: "";
	display: none;
	height: 160.539794921875px;
	max-width: 165px;
	width: 100%;
	position: absolute;
	top:-113px;
	right: -51px;
	z-index: 1;
	background: url("../image/servise/dots.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

	

.item-image{
	max-width: 347px;
	width: 100%;
	margin-top: 24px;
}

.item-title{
	margin-top: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #002262;
}

.item-suptitle{
	position: relative;
	margin: 16px 0 28px 0;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #000000;
	opacity: 0.8;
}


.info-button{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	left: 45%;
	top: -12px;
	z-index: 1;
	background: url('../image/servise/info-button.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 0;
	outline: none;
}

.info-button.active{
	display: none;
}

.info-button:hover{
	-webkit-box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.2);
	        box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.2);  
}

.item-info{
	display: none;
	position: relative;
	height: 486px;
	width: 347px;
	border-radius: 4px;
	background: #eaeafc;
}

.item-info.active{
	display: block;
	position: absolute;
	z-index: 1000;
}

.info-close{
	width: 12.77px;
	height: 12px;
	margin-top: 22px;
	margin-right: 23.4px;
	position: absolute;
	top: 0;
	right: 0;
	background: url("../image/servise/close.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 0;
	outline: none;
}

.info-close:hover{
	width: 13.4px;
	height: 13.4px;
}



.info-title{
	width: 93%;
	margin: 48px auto 0 auto;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 32px;
	text-align: center;
	color: #000000;	
}

.info-text{
	height: 349px;
	width: 295.91px;
	margin: 16px auto 25px auto;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	color: #000000;
}

.info-text p{
	margin: 0;
}

.service-buttons{
	display: block;
	width: 114%;
	position: relative;
	z-index: 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.item-button{
	width: 90%;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 26px;
	padding: 0;
	border-radius: 4px;
	background: #8181F6;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #002262;
	outline: none;
}

.item-button:hover{
	-webkit-box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);
	        box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);  
}

/*advantages*/

.advantages{
	padding-left: 20px;
	padding-right: 20px;
}

.advantages-title{
	margin-top: 80px;
	margin-bottom: 58px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.advantages-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
}

.advantages-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 306px;
	margin-left: 42px;
	margin-right: 42px;
	margin-bottom: 52px;
	position: relative;
}

.advantages-item:nth-of-type(1)::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:-140px;
	left: -133px;
	background: url("../image/intro/dots2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}

.advantages-item:nth-of-type(4) .advantages-item-text,
.advantages-item:nth-of-type(5) .advantages-item-text,
.advantages-item:nth-of-type(7) .advantages-item-text,
.advantages-item:nth-of-type(8) .advantages-item-text,
.advantages-item:nth-of-type(9) .advantages-item-text{
	font-family: 'Manrope';
}

.advantages-item-logo{
	max-width: 76px;
	width: 100%;
	height: 76px;
	margin-right: 26px;
}

.advantages-item-title{
	margin-bottom: 16px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
}

.advantages-item-text{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	opacity: 0.8;
}

/*how-we-work*/

.how-we-work{
	padding-left: 20px;
	padding-right: 20px;
	background: #F4F8FF;
}

.work-title{
	padding-top: 80px;
	margin-bottom: 16px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #000000;

}

.work-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 60px;
}

.work-container2{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 483px;
}

.work-arrow{
	display: block;
	max-width: 40px;
	width: 100%;
	height: 40px;
	margin-left: 40px;
	margin-right: 66px;
	margin-bottom: 18px;
}

.work-item{
	width: 197px;
	margin-top: 40px;
}

.work-item-nummer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 32px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 150px;
	line-height: 100px;
	text-align: center;
	color: #8181F6;
}

.work-item-title{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.work-item-title::after{
	content: "";
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
	width: 30px;
	height: 2px;
	background-color: #8181F6;
}


.work-item-text{
	height: 48px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 200;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

/*achivments*/

.Achievements{
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	padding-bottom: 100px;
}

.achievements-title{
	margin-top: 80px;
	margin-bottom: 56px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.achievements-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.photo-content{
	width: 100%;
	height: 380px;
}

.achievement-text-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 544px;
	height: 302px;
	margin-top: 60px;
	margin-right: 40px;
	margin-left: 70px;
}

.text-item{
	width: 212px;
}

.text-item-title{
	position: relative;
	margin-top: 24px;
	margin-left: 41px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 20px;
	letter-spacing: 4px;
	color: #002262;
}

.text-item-title::after{
	content: "";
	display: block;
	position: absolute;
	top: -25px;
	left: -43px;
	z-index: -1;
	width: 67px;
	height: 123px;
	background: #F2F2FE;
	border-radius: 10px;
}

.text-achievemenst{
	width: 90%;
	margin-top: 16px;
	margin-left: 44px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.04em;
	color: #000000;
}


.text-item:nth-of-type(1) .text-achievemenst{
	width: 44%;
}

.achievements-photo{
	width: 50%;
	position: relative;
	margin-right: 30px;
}

.achievements-background{
	max-width: 516px;
	width: 100%;
	position: absolute;
	top: 4px;
	left: -78px;
}


.achievements-image{
	max-width: 474px;
	width: 100%;
	position: absolute;
	top: 60px;
	left: 70px;
}

/*prise*/

.prise{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	background: #F4F8FF;
}

.prise-title{
	padding-top:80px;
	margin-bottom: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #000000;
}

.prise-suptitle{
	width: 45%;
	margin: 0 auto;
	margin-bottom: 60px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	text-align: center;
	color: #000000;
}

.prise-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-bottom: 100px;
	position: relative;
}

.prise-item-before{
	display: none;
	width: 604px;
	height: 562px;
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	background: #FFFFFF;
	z-index: 50001;
}

.prise-item-before.active{
	display: block;
}

.prise-item-after{
	display: none;
	width: 604px;
	height: 562px;
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	background: #FFFFFF;
	z-index: 50001;
}

.prise-item-after.active{
	display: block;
}

.form-title{
	margin-top: 60px;
	margin-bottom: 60px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #002262;
}

.form-title-close{
	content: "";
	display: block;
	width: 12.77px;
	height: 12px;
	margin-top: 22px;
	margin-right: 23.4px;
	position: absolute;
	top: 0;
	right: 0;
	background: url("../image/servise/close.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 0;
	outline: none;
}

.form-title-close:hover{
	width: 13.4px;
	height: 13.4px;
}

.input-content{
	width: 65%;
    height: 40px;
	margin: 0 auto;
    margin-bottom: 45px;
	padding-bottom: 10px;
    background-color: transparent;
    border-left: 0;
	border-right: 0;
	border-top: 0;
    border-bottom: 1px solid rgb(0%, 13%, 38%, 0.2);
    font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #002262;
    outline: none;
}

.input-content::-webkit-input-placeholder{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #002262;
}

.input-content::-moz-placeholder{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #002262;
}

.input-content:-moz-placeholder{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #002262;
}
.input-content:-ms-input-placeholder{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #002262;
}

.submit-form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.input-submit-form{
	width: 345px;
	height: 50px;
	margin-top: 40px;
	margin-bottom: 26px;
	padding: 0;
	border-radius: 4px;
	background: #8181F6;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 2px solid #002262;
	outline: none;
}

.item-button:hover{
	-webkit-box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);
	        box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);  
}

.prise-form-succesful{
	display: none;
	width: 604px;
	height: 562px;
	position: absolute;
	left: 320px;
	top: -109px;
	z-index: 10;
	background: #FFFFFF;
}

.succesful-logo{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 82px;
	margin-bottom: 32px;
	background: url("../image/prise/Vector%20(3).png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.succesful-title{
	margin-bottom: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #002262;
}

.succesful-suptitle{
	width: 63%;
	margin: 0 auto;
	margin-bottom: 60px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #002262;
}

.succesful-button{
	width: 345px;
	height: 50px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 26px;
	padding: 0;
	border-radius: 4px;
	background: #8181F6;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #002262;
	outline: none;
}

.succesful-button:hover{
	-webkit-box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);
	        box-shadow: 0 0 10px 7px rgb(51%, 51%, 96%, 0.5);  
}


.prise-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 383px;
	margin: 0 15px 35px;
	border-top: 3px solid #8181F6;
	border-radius: 4px;
	background: #FFFFFF;
	padding: 26px 24px;
}


.prise-item-title{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #002262;
	border: 0;
	outline: none;
}

.text-prise{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.04em;
	color: #8181F6;
	text-align: center;
}

.text-prise span{
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 28px;
	letter-spacing: 0.04em;
	color: #8181F6;
}

.text-prise::after{
	content: "";
	display: block;
	width: 181px;
	height: 1px;
	margin: 8px auto 8px auto;
	opacity: 0.1;
	background-color: #000000;
	border-radius: 4px;
}

.text-time{
	margin-bottom: 32px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #6B6B6B;
}

.prise-item-content{
	width: 100%;
}

.prise-inform{
	position: relative;
	margin-left: 52px;
	margin-bottom: 16px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.prise-inform::before{
	content: "";
	display: block;
	position: absolute;
	left: -30px;
	top: 5px;
	width: 16px;
	height: 16px;
	background: url("../image/prise/Vector%20(3).png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



.prise-submit{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: auto;
	background-color: #fff;
	border-radius: 4px;
}

.prise-button{
	width: 345px;
	height: 50px;
	border-radius: 4px;
	background: #8181F6;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #002262;
	outline: none;
}

.prise-button:hover{
	-webkit-box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.6);
	        box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.6);  
}

/*calculator-info*/

.calculator-info{
	padding-left: 20px;
	padding-right: 20px;
	background: #002262;
	padding-bottom: 82px;
}

.calculator-title{
	padding-top: 80px;
	margin-bottom: 73px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #F3F3FF;
}

.calculator-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 84%;
	margin:0 auto;
}

.calculator-contact{
	width: 393px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: relative;
}

.calculator-contact::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:-172px;
	right: 403px;
	z-index: 1;
	background: url("../image/dots2opasity.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.calculator-item{
	width: 100%;
	height: 40px;
	margin-bottom: 45px;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #F3F3FF;
	outline: none;
}

.calculator-item::-webkit-input-placeholder {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #F3F3FF;
}

.calculator-item::-moz-placeholder {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #F3F3FF;
}

.calculator-item:-moz-placeholder {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #F3F3FF;
}
.calculator-item:-ms-input-placeholder {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #F3F3FF;
}

.text-area{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 48%;
	margin-left: 136px;
	position: relative;
}

.text-area::before{
	content: "";
	display: block;
	height: 193.539794921875px;
	max-width: 184px;
	width: 100%;
	position: absolute;
	top:-118px;
	right: -62px;
	z-index: 1;
	background: url("../image/dots2opasity.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.calculator-label{	
	width: 100%;
	height: 40px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #F3F3FF;
}

.calculator-textarea{
	width: 100%;
	height: 170px;
	resize: none;
	overflow: 
}

.calculator-textarea{
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
	color: #F3F3FF;
	padding: 10px;
}

.calculator-submit{
	width: 345px;
	height: 50px;
	margin-top: 60px;
	border-radius: 4px;
	background: #8181F6;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: 0;
	border-bottom: 2px solid #002262;
	outline: none;
}

.calculator-submit:hover{
	-webkit-box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.3);
	        box-shadow: 0 0 10px 4px rgb(51%, 51%, 96%, 0.3);  
}

/*easy-footer*/

.easy-footer{
	padding-left: 20px;
	padding-right: 20px;
	background: #F4F8FF;
}

.easy-footer-content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 40px;
	
}

.footer-info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 70%;
}

.footer-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 110px;
}

.footer-logo{
	width: 110px;
	height: 40px;
	margin-right: 102px;
	background-color: #F4F8FF;
}

.footer-menu-title{
	margin-bottom: 16px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
}

.footer-item{
	margin-bottom: 8px;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
}

.footer-item:hover{
	color: rgb(0%, 0%, 0%, 0.3);
}

.footer-item:nth-of-type(1),
.footer-item:nth-of-type(4),
.footer-item:nth-of-type(5){
	width: 90px;
}

.footer-contacts{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 139px;
}

.phone-nummer{
	position: relative;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	margin-bottom: 8px;
}

.phone-nummer:hover{
	color: rgb(0%, 0%, 0%, 0.3);
}


.phone-nummer::before{
	content: "";
	display: block;
	position: absolute;
	top: 5px;
	left:-23px;
	width: 13px;
	height: 13px;
	background: url("../image/footer/phone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.phone-nummer:nth-of-type(4)::before{
	background: url("../image/footer/email%20(2).png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer-social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 95px;
}

.footer-social .phone-nummer:nth-of-type(1)::before{
	background: url("../image/footer/viber.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer-social .phone-nummer:nth-of-type(2)::before{
	background: url("../image/footer/whatsapp.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.footer-social .phone-nummer:nth-of-type(3)::before{
	background: url("../image/footer/telegram.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.zatmenie{
		display: none;
		background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 655%;
        position: absolute;
        top: 0;
        left: 0;
		z-index: 50000;
}

.zatmenie.active{
	display: block;
}


@media ( max-width:1315px){
	.servise-title::before{
		display: none;
	}
	
	.servis-item{
		margin-left: 35px;
		margin-right: 35px;
	}
	
	.servis-item:nth-of-type(2)::before{
		height: 173.539794921875px;
		max-width: 174px;
		display: block;
		
	}
	.servis-item:nth-of-type(1)::before{
	height: 173.539794921875px;
	max-width: 174px;
	width: 100%;
	position: absolute;
	top:-94px;
	right: 270px;
	}


}

@media ( max-width:1281px){
	
	.head_logo{
		margin-right: 28px;
	}
	
	.intro-dots{left: -100px
	}
	
	.menu-content{
		margin-right: 100px;
	}
	
	.intro-title{
		margin-top: 20px;
		font-size: 46px;
	}
	
	.intro-suptitle{
		
		font-size: 20px;
	}
	
	.intro-button{
		width: 320px;
}
	
	.intro-image::before{
		top: 385px;
	}
	
	.item-suptitle{
		font-size: 17px;
	}
	
	.work-arrow{
		margin-left: 20px;
		margin-right: 46px;
	}
	
	
}

@media ( max-width:1172px){
	
	.menu-content{
		margin-right: 60px;
	}
	
	.menu-item{
		font-size: 15px;
		margin-right: 22px;
	}
	
	.menu-phone{
		font-size: 15px;
		margin-right: 25px;
	}
	
	.menu-phone-item{
	right: 359px;
}
	
	.phone-button{
		width: 160px;
	}
	
	.intro-title{
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 40px;
		width: 390px;
	}
	
	.intro-suptitle{
		margin-bottom: 39px;
		font-size: 18px;
	}
	
	.intro-button{
		width: 300px;
		margin-bottom: 50px;
}
	
	.intro-image::before{
		top: 315px;
		left: -70px;
	}
	
	.intro-image::after{
		top: -4px;
    	right: 16px;
	}
	
	.item-suptitle{
		font-size: 16px;
	}
	
	.advantages-item{
		width: 297px;
		margin-left: 20px;
		margin-right: 21px;
	}
	
	.work-item-nummer{
		font-size: 140px;
	}
	
	.work-item-text{
		font-size: 14px;
	}
	
	.work-arrow{
		margin-left: 10px;
		margin-right: 36px;
	}
	
	
}

@media ( max-width:1106px){
	
	.work-container2{
		width: 737px;
	}
	
	.work-item-nummer{
		font-size: 150px;
	}
	
	.work-item-text{
		font-size: 16px;
	}
	
	.work-arrow{
		margin-left: 40px;
		margin-right: 120px;
	}
	
	.work-item{
		width: 270px;
	}
	
	.work-arrow:nth-of-type(2){
		display: none;
	}
	
}


@media ( max-width:1024px){
	.menu-content{
	opacity: 0;
	width: 380px;
}
	
	.menu-item{
		font-size: 14px;
		margin-right: 18px;
		line-height: 30px;
	}
	
	.menu-phones{
	}
	
	.menu-phone{
		opacity: 0;
		font-size: 14px;
		margin-right: 20px;
	}
	
	.menu-phone-item{
		top: 10px;
		right: 257px;
	}
	
	.nav-border{
		display: block;
		top: -3px;
		right: 188px;
	}
	
	.phone-button{
		width: 140px;
	}
	
	.intro-title{
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 30px;
		width: 370px;
		height: 131px;
		line-height: 52px;
	}
	
	.intro-suptitle{
		width: 67%;
		margin-bottom: 30px;
		font-size: 16px;
	}
	
	.servis-item{
		margin-left: 15px;
		margin-right: 35px;
	}
	
	.intro-button{
		width: 250px;
		margin-bottom: 30px;
}
	
	.intro-photo{
		min-width: 360px;
	}
	
	.intro-image::before{
		top: 235px;
		left: -70px;
	}
	
	.intro-image::after{
		width: 170px;
		height: 170px;
		top: -4px;
    	right: 61px;
	}
	
	.text-item{
		width: 205px;
	}
	
}


@media ( max-width:942px){
	
	.menu-content{
	opacity: 0;
	width: 310px;
}
	
	.servis-item:nth-of-type(1)::before{
		width: 140px;
		height: 140px;
		top: -73px;
		right: 276px;
	}
	
.servis-item:nth-of-type(2)::before{
	display: none;
	}
	
	
.servis-item:nth-of-type(1)::after{
	display: block;
	height: 140px;
	max-width: 140px;
	width: 100%;
	top: -88px;
	right: -38px;
	}
		
	.achievements-content{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	
	.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 380px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 380px;
	}
	
	.achievement-text-content{
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	
	.text-item{
		margin-left: 50px;
		margin-right: 50px;
	}
	
	.photo-content{
		height: 360px;
	}
}


@media ( max-width:855px){
	.calculator-content{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	
	.text-area{
		margin-left: 0;
		width: 80%;
	}
	
	.calculator-contact{
		width: 70%;
	}
	
	.menu-content{
	opacity: 0;
	width: 240px;
	margin-right: 0;
}
	
}
	
	
@media ( max-width:830px){
	.intro-title{
		width: 250px;
		font-size: 24px;
		line-height: 42px;
	}
	
	
	.intro-suptitle{
		font-size: 15px;
	}
	
	.intro-button{
		width: 210px;
		height: 40px;
		font-size: 14px;
	}
	
	.intro-image::before {
    top: 152px;
    left: -68px;
}
	
	.intro-photo{
		min-width: 320px;
	}
	
	.text-item{
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.photo-content{
		height: 360px;
	}
	
	.text-item-title{
		font-size: 30px;
	}
	
	.text-achievemenst{
		font-size: 15px;
	}
	
	.text-item-title::after{
		height: 110px;
    	top: -13px;
	}
	
	.achievement-text-content{
		margin-top: 30px;
	}
	
	.easy-footer-content{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	
	.footer-logo-container{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		margin-bottom: 30px;
		
	}
	
	.footer-logo{
		margin-right: 0;
	}
	
	.footer-info{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
	}
	
	.footer-contacts{
		margin-right: 30px;
		margin-left: 30px;
	}
	
	.footer-menu{
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.footer-social{
		margin-right: 30px;
		margin-left: 30px;
	}
	
}


@media (max-width:797px){
	
	.work-arrow{
		margin-right: 80px;
	}
	
	.work-item{
		width: 200px;
	}
	
	.work-container2{
		width: 558px;
	}
	
}

@media (max-width:720px){
	.menu-content{
	opacity: 0;
	width: 170px;
	margin-right: 0;
}
	
	.intro-title{
		width: 256px;
		font-size: 22px;
		line-height: 32px;
		height: 80px;
	}
	
	.intro-photo{
		min-width: 310px;
	}
	
	.intro-image::before {
    top: 128px;
    left: -38px;
}
	
	.intro-suptitle{
		width: 90%;
		font-size: 15px;
	}
	
	.intro-photo{
		min-width: 270px;
	}
	
	.advantages-item{
		margin-left: 10px;
		margin-right: 10px;
		width: 298px;
	}
	
	.text-item{
		width: 180px;
	}
	
	.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 340px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 340px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
	}
	
	.photo-content {
    height: 330px;
}
	
	.text-achievemenst{
		width: 90%;
	}
	
	.prise-title{
		padding-top: 30px;
		font-size: 30px;
	}
	
	.prise-suptitle{
		width: 100%;
		font-size: 19px;
		line-height: 30px;
		margin-bottom: 30px;
	}
	
	
}

@media (max-width:650px){
	
	.menu-content{
	opacity: 0;
	width: 80px;
	margin-right: 0;
	}
	
	
	.intro-title{
		width: 254px;
		font-size: 22px;
		line-height: 32px;
		height: 100px;
	}
	
	.intro-suptitle{
		width: 90%;
		font-size: 15px;
		line-height: 24px;
	}
	
	.intro-button{
		width: 200px;
		height: 35px;
		font-size: 14px;
	}
	
	.intro-image::before {
    top: 149px;
    left: -24px;
	}
	
	.intro-photo{
		min-width: 240px;
	}
	
	.work-arrow{
		margin-right: 66px;
	}
	
	.work-item{
		width: 151px;
	}
	
	.work-container2{
		width: 470px;
	}
	
	.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 340px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 340px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
	}
	
	.photo-content {
    height: 310px;
}

	.text-item {
    width: 130px;
}
	
	.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 280px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 280px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
	}
	
	.photo-content {
    height: 280px;
}
	
	.text-achievemenst{
		width: 100%;
		font-size: 14px;
		margin-left: 34px;
	}
	
	.text-item:nth-of-type(1) .text-achievemenst {
    width: 80%;
}
	
	.achievements-title{
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	
	.Achievements{
		padding-bottom: 30px;
	}
	
	.footer-menu{
		margin-left: 0px;
		margin-right: 0;
		margin-top: 30px;
		width: 300px;
	}
	
	.footer-contacts{
		width: 300px;
		margin-left: 40px;
		margin-right: 0;
		margin-top: 30px;
	}
	
	.footer-social{
		width: 300px;
		margin-left: 40px;
		margin-right: 0;
		margin-top: 30px;
	}
	
	.footer-info{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	
	.text-area::before{
		display: none;
	}
	
	.prise-item-before{
		width: 400px;
		height: 462px;
	}
	
	.form-title{
		margin-bottom: 30px;
		font-size: 30px;
	}
	
	.input-content{
		margin-bottom: 30px;
		font-size: 15px;
	}
	
	.input-submit-form{
		width: 300px;
		height: 40px;
		margin-top: 20px;
	}
		
}


@media (max-width:560px){
	
	.head_logo{
		margin-right: 11px;
	}
	
	.menu-phone{
		margin: 0;
		width: 0;
	}
	
	.menu-content{
	opacity: 0;
	width: 0px;
	margin-right: 0;
	}
	
	.menu-content.size1024px{
		width: 180px;
	}
	
	.intro{
		padding: 10px;
		margin: 0 auto;
	}
	
	.intro-content{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	
	.intro-image::before{
		max-width: 300px;
		width: 100%;
	}
	
	.intro-image:nth-of-type(2)::before{
		display: none;
	}
	
	.intro-photo{
		margin: 0 auto;
		width: 90%;
	}
	
	.intro-text{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
		margin: 0;
	}
	
	.intro-title{
		text-align: center;
		font-size: 26px;
		width: 300px;
		height: 97px;
	}
	
	.intro-suptitle{
		text-align: center;
		width: 90%;
	}
	
	.servis-item:nth-of-type(1)::before{
		width: 100px;
		height: 100px;
	}
	
.servis-item:nth-of-type(2)::before{
	display: none;
	}
	
	
.servis-item:nth-of-type(1)::after{
	width: 100px;
	height: 100px;
	top: -70px;
	right: -38px; 
	}
	
	.intro-image::before{
		max-width: 100px;
		height: 100px;
	}
	
	.intro-image::after{
		top: -4px;
    	right: -6px;
	}
	
	.advantages-title{
		font-size: 30px;
	}
	
	.work-arrow{
		margin-right: 36px;
		margin-left: 20px;
	}
	
	.work-item{
		width: 145px;
	}
	
	.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 340px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 340px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
	}
	
	.photo-content {
    height: 235px;
}

	.text-item {
    width: 110px;
}
	
	.achievements-image{
		top: 45px;
		left: 166px;
		min-width: 210px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 210px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.photo-content {
    height: 235px;
}
	
	.text-achievemenst{
		width: 100%;
		font-size: 14px;
		margin-left: 34px;
	}
	
	.calculator-info{
		padding-bottom: 30px;
	}
	
	.calculator-title{
		padding-top: 30px;
		margin-bottom: 30px;
		font-size: 30px;
	}
	
	.calculator-contact{
		width: 100%;
	}
	
	.text-area{
		width: 100%;
	}
	
	.calculator-textarea{
		margin-top: 20px;
	}
	
	.calculator-label{
		width: 88%;
	}
	
	
}
	
	
@media (max-width:441px){
		
		.head{
		 -ms-flex-wrap: wrap;
		     flex-wrap: wrap;
		 padding-left: 10px;
		 padding-right: 10px; 
		}
		
		
		.menu-content.size1024px{
		right: 5px;
		top: -5px;
			
	}
		
		.intro-content{
			width: 320px;
		}
		
		.phone-button{
			display: none;
		}
		
		.nav-border{
			right: 10px;
		}
		
		.menu-phone-item{
			right: 80px;
			width: 25px;
			height: 25px;
		}
		
		.Services{
			padding-left: 10px;
			padding-right: 10px;
		}
		
		.servise-title{
			font-size: 26px;
			padding-top: 20px;
			margin-bottom: 0;
		}
		
		
		.item-title{
			font-size: 16px;
			line-height: 20px;
		}
		
		.item-suptitle{
			font-size: 14px;
			line-height: 20px;
		}
		
		.info-title{
			font-size: 20px;
		}
		
		.info-text{
			font-size: 14px;
		}
		
		.item-button{
			margin-top: 20px;
			height: 30px;
			width: 70%;
			font-size: 13px;
		}
		
		.info-button{
			width: 19px;
			height: 19px;
		}
	
	.prise-item-before{
		width: 289px;
		height: 400px;
	}
	
	.form-title{
		margin-bottom: 30px;
		font-size: 30px;
	}
	
	.input-content{
		width: 87%;
		margin-bottom: 17px;
		font-size: 15px;
	}
	
	.input-submit-form{
		width: 241px;
		height: 35px;
		margin-top: 20px;
	}
		
		.work-title{
		font-size:  30px;
	}
	
	.work-arrow{
		display: none;
	}
	
	.work-item{
		width: 253px;
		text-align: center;
	}
	
	.work-item-nummer{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	
	.work-item-title::after{
		margin: 16px auto;
	}
	
	.work-container2{
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
		
		.achievements-image{
		top: 60px;
		left: 255px;
		min-width: 340px;
	}
	
	.achievements-background{
		top: 4px;
		left: 107px;
		min-width: 340px;
	}
	
	.achievement-text-content{
		margin-top: 10px;
	}
	
	.photo-content {
    height: 235px;
}

	.text-item {
    width: 90px;
	margin-left: 32px;
	margin-right: 30px;
}
	
	.achievements-image{
		top: 45px;
		left: 70px;
		min-width: 210px;
	}
	
	.achievements-background{
		top: 4px;
		left: 25px;
		min-width: 210px;
	}
	
	.achievement-text-content{
		width: 100%;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	
	.photo-content {
    height: 235px;
}
	
	.text-achievemenst{
		width: 100%;
		font-size: 12px;
		margin-left: 18px;
	}
		
		.text-item-title{
			margin-left: 18px;
		}
		
		.text-item:nth-of-type(1) .text-achievemenst {
    width: 122%;
}
		
		.Achievements{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 50px;
		}
		
		.prise-item{
		width: 275px;
	}
		
		.footer-menu{
			margin-left: 25px;
		}
	
		
}













